/* Colors */
$color-white: #fff;
$color-black: #000;
$color-dark: #a1a1a1;
$color-grey: #5A5A5A;
$color-blue: #122AC0;
$color-light: #D9D9D9;
$color-light-green: #ABD873;
$color-green: #8fda34;
$color-error-dark: #c54646;

/* Spacing */
$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 20px;

/* Radius */
// $border-radius: 6px;

/* Shadow */
$textarea-shadow: 0 2px 24px rgba(168, 175, 196, 0.5);